extends layout

block content
	h1= title

	a(href='http://www.shoeboxify.com') Visit Shoeboxify.com

	div
		img(src='http://www.shoeboxify.com/images/shoebox.png')
	

	div#console
		div: a(href='dev/me') dev/me
		div: a(href='dev/whoami') dev/whoami
		div: a(href='dev/myphotos') dev/myphotos
		div: a(href='dev/drop') dev/drop

		div: a(href='logout') ->logout