
@import '../../style/style'


#loading
    margin: 32px;
    font-size: 22px
    color: lightgray
    text-align: center

#photos
    margin: 16px;
    /* background-color: gray */

.photo
    display: inline-block
    /* margin: 8px; */
    width: 150px
    height: 150px
    background-color: yellow
    text-align: center
    overflow: hidden
