doctype 5
html
    head
        title Drop
        link(rel='stylesheet', href='/style/drop.css')

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
        script(src="/script/common.js")
        script(src="/script/drop.js")
        script(src="/script/ui.js")
        script(src="/script/serviceAPI.js")
        script(src="/socket.io/socket.io.js")

        script
            var serviceAPI = new ServiceAPI();

            $('body').ready(
                function()
                {
                    // console.log($("html")[0]);

                    InstallDropListener( $("html")[0] );

                    ClearUI();
                });

    body
        h1 Drag from Facebook and drop below

        #droparea
            img#dropimage

        #button-area
            button(onclick='ClearButtonAction()') Clear
            button#shoeboxify(onclick='ShoeboxifyButtonAction()') Shoeboxify
            #elapsedTime

        #progressBar
            #bar

        #sourceURL
        #facebookObjectID

        #objectInfo
