extends layout


block extra-head
    script(src='/socket.io/socket.io.js')
    script(src='/script/iotest.js')


block content
    h1= title

    div
        button(onclick='socketioClick()') socket.io
        span#sio-timeField [ms]

    br

    div
        button(onclick='ajaxClick()') ajax
        span#ajax-timeField [ms]
    
    br
    hr 
    br
    
    div
        button(onclick='testClick()') Test
        span#test-timeField [ms]

