body {
  color: #263c4a;
  background-color: #fffbf1;
  padding: 50px;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  font-size: 12px;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Trebuchet MS", "Tahoma", "Helvetica", sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}
a {
  color: #00b7ff;
}
#droparea {
  width: 250px;
  height: 250px;
  position: relative;
  margin-left: 50%;
  left: -125px;
  background-color: #eee;
  border: 2px solid #999;
  margin-bottom: 16px;
  margin-top: 16px;
  overflow: hidden;
}
#sourceURL {
  display: inline-block;
  background-color: #eee;
  color: #bbb;
  padding: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
}
#facebookObjectID {
  display: inline-block;
  background-color: #0ee;
  color: #666;
  padding: 16px;
}
#objectInfo {
  width: 90%;
  position: relative;
  margin-left: 50%;
  left: -45%;
  background-color: #ffedbf;
  margin-bottom: 16px;
  margin-top: 16px;
  text-align: left;
  overflow: hidden;
}
#progressBar {
  width: 200px;
  height: 22px;
  position: relative;
  display: none;
  background-color: #fff;
  border: 1px solid #000;
  margin-top: 16px;
  margin-left: 50%;
  left: -100px;
}
#progressBar #bar {
  background-color: #d3d3d3;
  width: 33%;
  height: 100%;
}
