
@import style



theTopBottomMargin=16px



#droparea
	width: 250px
	height: 250px

	position: relative
	margin-left: 50%
	left: -(@width/2)

	background-color: #EEE
	border: 2px solid #999

	margin-bottom: theTopBottomMargin
	margin-top: theTopBottomMargin
	overflow: hidden
	// padding: 4px

#sourceURL
	display: inline-block
	background-color: #EEE
	color: #BBB
	padding: 16px

	margin-bottom: theTopBottomMargin
	margin-top: theTopBottomMargin

#facebookObjectID
	display: inline-block
	background-color: #0EE
	color: #666
	padding: 16px

#objectInfo
	width: 90%
	// height: 100px
	
	position: relative
	margin-left: 50%
	left: -(@width/2)

	background-color: darken(LightYellowBG, 10%)

	margin-bottom: theTopBottomMargin
	margin-top: theTopBottomMargin

	text-align: left

	overflow: hidden
