/* Colors */
body {
  color: #263c4a;
  background-color: #fffbf1;
  padding: 50px;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  font-size: 12px;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Trebuchet MS", "Tahoma", "Helvetica", sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}
a {
  color: #00b7ff;
}
